################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SignalRApp/bin/Debug/net8.0
/SignalRApp/obj
*.sln
